.pc-container{
    padding:60px 90px;
    min-height: 100vh!important;

    @media (max-width:800px) {
        padding:20px 20px;
    }
}
.order{
    width: 40%;
    @media (max-width:600px) {
            width: 50%;
    }
    @media (max-width:1200px) {
            width: 80%;
    }
}  